#!/usr/bin/make -f

%:
	dh $@

execute_before_dh_clean:
	rm -rf tmp

override_dh_auto_build:
	# all current asc keys are included, however only gpg keyrings
	# for trixie and onwards are generated
	mkdir tmp
	codenames="trixie"; \
	repos="main security testing"; \
	supported_arch="amd64 arm64"; \
	out_key=tmp/tkl-archive-keyring.gpg; \
	for codename in $$codenames; do \
		for repo in $$repos; do \
			in_key=keys/tkl-$$codename-$$repo.asc; \
			gpg --no-default-keyring \
				--keyring gnupg-ring:"$$out_key" \
				--import "$$in_key"; \
		done; \
	done
